<div class="mui-panel"><div class="mui--text-display1"><%= @user.name %></div></div>

<div class="highlight" style="height:100px;">
  <span>
    <span></span>
    <span><a href="<%= contribution_path(@conn, :index, @organization, @event_id)%>"><strong>Contribution Form:</strong></a></span>
  </span>
</div>

<div class="mui-panel">
<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
</div>