<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if @current_user do %>
      <%= tag :meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user", @current_user.uid) %>
    <% end %>
    <title> <%= assigns[:page_title] || "Home" %> |  Contributr </title>
    <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.cyan-light_blue.min.css">
  </head>

  <body>
      <div class="mui-container-fluid mui--bg-primary-dark">
            <nav role="navigation">
              <div class="mui--pull-right">
                  <%= if assigns[:current_user] do %>

                      <span><img src="<%= @current_user.avatar_url %>" /></span>
                      <span>
                        <a href="/">
                            <span class="mui--text-white">Welcome <%= @current_user.name %></span>
                        </a>
                      </span>
                      <span>
                        <a href="<%= auth_path(@conn, :delete) %>">
                            <span class="mui--text-white"> Logout</span>
                        </a>
                      </span>

                  <% else %>
                    <span>
                        <a class="btn btn-primary" href="<%= auth_path(@conn, :request, "google") %>">
                            <span class="mui--text-white">  Login</span>
                        </a>
                    </span>
                  <% end %>
              </div>
              <ul class="nav nav-pills brand">
                  <li><a href="/"><span class="mui--text-display1 mui--text-white">CONTRIBUTR</span></a></li>
              </ul>
            </nav>
      </div>
      <div class="mui-container" style="padding-top: 10px">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div> <!-- /container -->
    <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>

