<!DOCTYPE html>
<html lang="en">
   <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
   <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if assigns[:current_user] do %>
      <%= tag :meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user", @current_user.uid) %>
    <% end %>
    <title> <%= assigns[:page_title] || "Home" %> |  Contributr </title>
   </head>

  <body>
      <div class="mui-appbar mui--bg-primary-dark">

          <div class="mui--pull-left mui--text-display1 mui--text-white">
              <span class ="mui--invisible">p</span>
              <span><a class="mui--text-white mui--pull-right mui--appbar-height mui--appbar-line-height" href="/">CONTRIBUTR</a></span>
          </div>


          <div class="mui--pull-right mui--appbar-height mui--appbar-line-height">
                <ul class="mui-list--inline">
                    <li></li>
                      <%= if assigns[:current_user] do %>
                        <li>
                          <a class="mui--appbar-height mui--appbar-line-height mui--text-white" href="<%= auth_path(@conn, :delete) %>">Logout</a>
                        </li>
                        <li>|</li>
                        <li>
                           <a class="mui--appbar-height mui--appbar-line-height mui--text-white" href="/">Welcome <%= @current_user.name %></a>
                        </li>
                        <li class="mui--appbar-height mui--appbar-line-height mui--align-middle">
                           <div class="avatar-frame mui--align-middle"><img src="<%= @current_user.avatar_url %>" /></div>
                        </li>


                      <% else %>
                        <li>
                            <a class="btn btn-primary" href="<%= auth_path(@conn, :request, "google") %>">
                                <p class="mui--text-white">Login</p>
                            </a>
                        </li>
                      <% end %>
                </ul>
          </div>

      </div>
      <div class="mui-container" style="padding-top: 10px">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div> <!-- /container -->
  </body>
</html>
