<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if @current_user do %>
      <%= tag :meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user", @current_user.uid) %>
    <% end %>
    <title> <%= assigns[:page_title] || "Home" %> |  Contributr </title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.cyan-light_blue.min.css">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
          <%= if assigns[:current_user] do %>
            <li> <a> Welcome <%= @current_user.name %> </a></li>

            <% if Map.has_key?(@current_user,:eligible_to_give) do %>
                <li> <a href="<%= contribution_path(Contributr.Endpoint, :index, @organization)%>">
                You have $ <%= @current_user.eligible_to_give || "0.00" %> remaining to contribute.</a>
                </li>
            <% else %>
                <li> <a href='#!'> Sorry, you are not eligible to participate. </a> </li>
            <% end %>
            <li>
              <a href="<%= auth_path(@conn, :delete) %>"> Logout </a>
            </li>
          <% else %>  
            <li>
							<a class="btn btn-primary" href="<%= auth_path(@conn, :request, "google") %>"> Login </a> </li>
          <% end %>
          </ul>
        </nav>
        <span class="logo">
          <h1> CONTRIBUTR </h1> 
        </span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>

