<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <%= if @current_user do %>
            <%= tag :meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user", @current_user.uid) %>
        <% end %>
        <title> <%= assigns[:page_title] || "Home" %> |  Contributr </title>

        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    </head>

    <body>
        <div class="mui-container-fluid mui--bg-primary-dark">
            <div class="mui--pull-right">
                <%= if assigns[:current_user] do %>

                <span class="circle"><img src="<%= @current_user.avatar_url %>" /></span>
                <span>
                <a href="/">
                <span class="mui--text-white">Welcome <%= @current_user.name %></span>
                </a>
                </span>
                <span>
                <a href="<%= auth_path(@conn, :delete) %>">
                <span class="mui--text-white"> Logout</span>
                </a>
                </span>

                <% else %>
                <span>
                <a class="btn btn-primary" href="<%= auth_path(@conn, :request, "google") %>">
                <span class="mui--text-white">  Login</span>
                </a>
                </span>
                <% end %>
            </div>
            <div class="mui--pull-left mui--align-middle" style="pagging-top: 20px;">
                <a href="/"><div class="mui--text-display1 mui--text-white">CONTRIBUTR</div></a>
            </div>
        </div>
        <div class="mui-container" style="padding-top: 10px">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

            <main role="main">
                <%= render @view_module, @view_template, assigns %>
            </main>
        </div>
    </body>
</html>
