<h2>Edit user <%= @event_users.user.name %> for event <%= @event_users.event.name %> </h2>

<%= render "form.html", changeset: @changeset,
                        action: event_users_path(@conn, :update, :organization,  :event_id, :event_users ) %>

<%= link "Back", to: event_users_path(@conn, :index, :organization, event_id: @event_users.event.id) %>
