<h2>New event users</h2>

<%= render "form.html", changeset: @changeset,
                        action: event_users_path(@conn, :create, @organization_id, @event_id) %>

<%= link "Back", to: event_users_path(@conn, :index, @organization_id, @event_id) %>
