<div class="mui-panel mui--clearfix">
    <div class="mui--text-headline">New contribution</div>
</div>
<div class="highlight mui--clearfix">
</div>
<div class="mui-panel mui--clearfix">
    <div class="mui-col-md-10" >
    </div>
</div>
