<h1> Users </h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount Given</th>
      <th>Eligible To Give</th>
      <th>Amount Left</th>

      <th> </th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.contributed %></td>
          <td><%= user.allowed%></td>
          <td><%= user.allowed - user.contributed %></td>
        </tr>
    <% end %>
  </tbody>
</table>

