<h2>Edit contribution</h2>

<%= render "form.html", changeset: @changeset,
                        action: contribution_path(@conn, :update, @organization, @contribution) %>

<%= link "Back", to: contribution_path(@conn, :index, @organization) %>
