<h2>Edit contribution</h2>
<h5>You have <%= @remaining %> to give.</h5>

<%= render "form.html", changeset: @changeset,
                        action: contribution_path(@conn, :update, @organization, @contribution),
                        eligible_users: @eligible_users %>

<%= link "Back", to: contribution_path(@conn, :index, @organization) %>
