<h2>Show contribution</h2>

<ul>

  <li>
    <strong>Contribute to:</strong>
    <%= @eligible_users %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @contribution.amount %>
  </li>

  <li>
    <strong>Comments:</strong>
    <%= @contribution.comments %>
  </li>

</ul>

<%= link "Edit", to: contribution_path(@conn, :edit, @contribution) %>
<%= link "Back", to: contribution_path(@conn, :index, @organization) %>
